/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Webkit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #7dfdfd ; /* Teal color for the thumb */
    border-radius: 6px; /* Roundness of the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color:rgb(182, 243, 243); 
  }
  
  ::-webkit-scrollbar-track {
    background-color: #ffffff; /* Light teal color for the track */
  }
